.h1, h1{
  text-align: center;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.img{
  max-width: 100%;
  max-height: 100vh;
  display: grid;
  margin-left: auto;
  margin-right: auto;
}

.p, p{
  text-align: center;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

@media (max-width:768px)	{
.starters{
  padding-top: 10px;
  }
}

@media(min-width:769px){
.starters{
  padding-top: 20px;
  }
}
