.h1, h1{
  text-align: center;
  font-size: 20px;
  font-family: Montserrat, sans-serif;
  padding-top: 20px;
  padding-bottom: 5px;
  font-weight: bold;
}

.p, p{
  text-align: center;
  font-size: 16px;
  font-family: Montserrat, sans-serif;
  font-weight: 400;
}

@media (max-width:768px)	{
.starters{
  padding-top: 50px;
  }
}

@media(min-width:769px){
.starters{
  padding-top: 120px;
  }
}

#scrollButton {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: grey; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 5px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
}

#scrollButton:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}
