.navbar{
	min-height: 50px;
	font-size: 16px;
	opacity: 1;
	padding-bottom: 0px;
	background-color: white;
}

@media (min-width:768px)	{
.navbar{
	padding-top: 20px;
	padding-bottom: 60px;
}
}

.navbar .dropdown-menu li a {
  padding: 10px 15px;
  margin: 0 0 1px 0;
  font-size: 15px;
}

.icon-bar {
  width: 22px;
  float: right;
}
