<div class="placeholder">

  <section class="starters">
    <h1>Vorspeisen</h1>
    <p>
      Japanisches Fischbrötchen<br />
  Deutsches Fischbrötchen<br />
  Englisches Fischbrötchen
</p>
  </section>


  <section class="maincourse">
    <h1>Hauptgänge</h1>
    <p>
      Ika Mata vom gefrorenen Hausstaubsauger 12.90<br />
  Seezunge mit integrierter Orangenhaut  18.50
</p>

  </section>

  <section class="desserts">
    <h1>Nachspeisen</h1>
    <p>
      Griechischer Joghurt<br />
  Österreichischer Joghurt
</p>
  </section>

  <section class="sides">
    <h1>Beilagen</h1>
    <p>
      Kartoffeln<br />
    Auch Kartoffeln
  </p>
  </section>

  <button onclick="backToTop()" id="scrollButton" title="Zurück nach oben">Hoch</button>

</div>