<nav class="navbar navbar-light navbar-expand-md fixed-top navbar-transparency">
    <div class="container"><a href="#" class="navbar-brand" style="font-family: Montserrat, sans-serif;">La Cuisine</a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
        <div
            class="collapse navbar-collapse" id="navcol-1">
            <ul class="nav navbar-nav ml-auto">
                <li role="presentation" class="nav-item"><a href="#" class="nav-link" style="font-family: Montserrat, sans-serif;">Willkommen</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link" style="font-family: Montserrat, sans-serif;">Impressionen</a></li>
                <li role="presentation" class="nav-item"><a href="/menu.html" class="nav-link" style="font-family: Montserrat, sans-serif;">Speisekarte</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link" style="font-family: Montserrat, sans-serif;">Reservierungen</a></li>
                <li role="presentation" class="nav-item"><a href="#" class="nav-link" style="font-family: Montserrat, sans-serif;">Blog</a></li>
            </ul>
    </div>
    </div>
</nav>
